{{!-- <div>



  <p>LogIn</p>
</div> --}}

<div class="form-container">

  <form action="/" method="POST">
    <h2 id="LOG">Login</h2>
    <div class="username">
      <label for="username">Username</label>
      <input type="text" name="username" placeholder=" Thor">
    </div>

    <div class="password">
      <label for="password">Password</label>
      <input type="password" name="password" placeholder=" Thor's password">
    </div>
    <div class="noAcc">
      <p class="account-message">
        No account yet?
        <a href="../auth/signup"> <strong>SignUp.</strong></a>
      </p>
      <button type="submit" id="submit">LogIn</button>
    </div>

    {{#if message }}
    <div class="alert alert-danger" role="alert">
      {{ message }}
    </div>
    {{/if}}

    <p>{{message}}</p>

  </form>
</div>