<h2>Signup</h2>

<form action="/auth/signup" method="POST" id="form-container">
  <div class="row"></div>
  <div class="col-sm-4"></div>
  <label for="username">Username</label>
  </div>
  <div class="col-sm-8"></div>
  <input id="username" type="text" name="username" placeholder="JonSnow" class="form-control">
  </div>
  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">

  <br><br>

  <label for="email">Email</label>
  <input id="email" type="email" name="email" placeholder="Your email">
  <br>
  {{#if message }}
  <div class="alert alert-danger" role="alert">
    A simple danger alert—check it out!
  </div>
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Create account</button>

  <p class="account-message">
    Already have an account?
    <a href="/">LogIn.</a>
  </p>
</form>


<a href="/about">About.</a>