<div class="form-container">

  <form action="/dashboard" method="POST">
    <h2 id="PLAY">Your Playlist</h2>
    <div class="form-group-row">
      <label class="col-m-2" for="Playlist-ID">Enter your Playlist-ID</label>
      <div class="col-sm-6">
        <input class="col-m-7" id="Playlist-ID" type="text" name="PlaylistID" placeholder="playlist-id" class="form-control">
      </div>


      <button id="createId">Create Art</button>
      {{#if message }}
      <div class="alert alert-danger" role="alert">
        {{message}}
      </div>
      {{/if}}
  </form>
</div>
<button id="how" class="display">How to</button>



<div class="explain test">

  <img src="images/explanation.png" alt="explanation">
  <button id="close">X</button>



</div>