<div class="form-container">

  <form action="/dashboard" method="POST">
    <h2 id="PLAY">add your playlist</h2>
    <div class="form-group-row">
      {{!-- npm --}}
      <div class="col-sm-12">
        <input class="col" id="Playlist-ID" type="text" name="PlaylistID" placeholder="share your playlist link here"
          class="form-control">
      </div>
      <br>

      <button id="createId">Create Art</button>
      {{#if message }}
      <div class="alert alert-danger" role="alert">
        {{message}}
      </div>
      {{/if}}
  </form>
  <a id="how" class="display">How to</a>

</div>


<div class="explain" id="explainDiv">

  <a id="close">X</a>
  <img src="images/n-colors.png" alt="explanation">



</div>
<div class="sheer" id="sheer_background"></div>