<div class="form-container">
  <form>
  <form action="/dashboard" method="POST">
    <h2 id="PLAY">Your Playlist</h2>
    <div class="form-group row">
      <label for="inputUsername" class="col-sm-3 col-form-label">Playlist-ID</label>
      <div class="col-sm-8">
        <input type="username" class="form-control" id="inputUsername" placeholder="Thor">
        <button id="createId">Create Art</button>
        </div>
        
        </div>
  </form>

<button id="how" class="display">How to</button>
<div class="explain test">
  {{!-- <div class="transparent"></div> --}}
  <img src="images/explanation.png" alt="explanation">
  <button id="close">X</button>
</div>


  {{!-- {{#if message }}
  <div class="alert alert-danger" role="alert">
    A simple danger alert—check it out!
  </div>
  <div class="error-message">{{ message }}</div>
  {{/if}} --}}
</div>
