<div class="container">
  <h2>Your playlist as Art</h2>
  <div class="picture">

    {{#each colors}}
    <div class="square" id="square" style="background-color: {{this}}" data-toggle="tooltip" title="Hooray!"></div>

    {{/each}}

  </div>

  <br>
  <br>

<div id="linksGenerated">

<div id="goBack">
<a href="/dashboard" id="goBack">Go Back!</a>
</div>  

<div id="saveArt">
<a href="/myArt" >Save!</a></div>
</div>

</div>