<div class="container">


  <h2>list of my art</h2>
</div>

<div class="flex">

  <div class="card" style="width: 14rem; height:18rem">
    <img class="card-img-top" src="images/B.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">B</h5>
      {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
        card's
        content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a> --}}
    </div>
  </div>


  <div class="card" style="width: 14rem; height:18rem">
    <img class="card-img-top" src="images/Germany Top 50.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Germany Top 50</h5>
      {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
        card's
        content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a> --}}
    </div>
  </div>


  <div class="card" style="width: 14rem; height:18rem">
    <img class="card-img-top" src="images/Y.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Y</h5>
      {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
        card's
        content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a> --}}
    </div>
  </div>


  <div class="card" style="width: 14rem; height:18rem">
    <img class="card-img-top" src="images/TWENTY-TWO.png" alt="Card image cap" class="fixing">
    <div class="card-body" id="fixing">
      <h5 class="card-title">TWENTY-TWO</h5>
      {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
        card's
        content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a> --}}
    </div>
  </div>
</div>