<div class="container">


  <h2>list of my art</h2>
</div>

<div class="flex">

  <div class="art">
    <img src="images/B.png" style="width: 14rem; height:18rem" alt="" srcset="">
    <h5>B</h5>
  </div>

  <div class="art">
    <img src="images/Y.png" style="width: 14rem; height:18rem" alt="" srcset="">
    <h5>Y</h5>
  </div>


  <div class="art">
    <img src="images/Germany Top 50.png" style="width: 14rem; height:18rem" alt="" srcset="">
    <h5>Germany Top 50</h5>
  </div>

  <div class="art">
    <img src="images/TWENTY-TWO.png" style="width: 14rem; height:18rem" alt="" srcset="">
    <h5>TWENTY-TWO</h5>
  </div>
</div>