/* WebKit browsers */
input:focus::-webkit-input-placeholder {
  color: transparent; }

/* Mozilla Firefox 4 to 18 */
input:focus:-moz-placeholder {
  color: transparent; }

/* Mozilla Firefox 19+ */
input:focus::-moz-placeholder {
  color: transparent; }

/* Internet Explorer 10+ */
input:focus:-ms-input-placeholder {
  color: transparent; }

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

a:hover {
  text-decoration: underline;
  color: peachpuff;
  font-size: 14px;
  font-weight: bold; }

button {
  padding: 1px 5px;
  border-radius: 5px;
  margin-left: 20px;
  color: grey;
  border: solid grey 0.5; }

button:hover {
  background-color: peachpuff;
  color: white; }

body {
  padding: none;
  font: 14px "Poppins", Helvetica, Arial, sans-serif;
  color: gray;
  height: 877px;
  width: 100%; }

h1 {
  padding-left: 30px;
  display: flex;
  font-family: "Permanent Marker", cursive;
  text-decoration: none !important; }

#thor:hover {
  text-decoration: none; }

h2 {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: "Permanent Marker", cursive; }

header {
  position: fixed;
  top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.7); }

.nav {
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 20px;
  position: fixed;
  padding-right: 20px;
  right: 0; }

.nav-item {
  justify-content: flex-end; }

a {
  margin: 0 10px;
  text-decoration: none;
  color: gray; }

ul li a {
  color: grey;
  text-decoration: none;
  padding: 10px;
  border: none;
  border-radius: 5px; }

ul li a:hover {
  text-decoration: underline; }

footer {
  border-top: 0.2px solid lightgray;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: fixed;
  bottom: 0; }

.footer {
  display: flex;
  height: 60px;
  padding-top: 20px; }

footer a {
  margin: 0 30px;
  margin-bottom: 10px; }

input {
  margin-left: 20px;
  border-radius: 5px;
  padding: 7px; }

input:focus {
  background-color: peachpuff; }

.picture {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 5px; }

#square {
  margin: 4px;
  height: 50px;
  width: 50px; }

#goBack {
  display: flex;
  width: 82px;
  position: relative; }

#saveArt {
  display: flex;
  justify-content: flex-end;
  margin-left: 460px; }

.main-content {
  overflow: hidden;
  display: flex;
  height: 850px;
  justify-content: center; }

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 325px;
  width: 600px; }

.form-container1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 325px;
  width: 600px; }

.username {
  display: flex;
  justify-content: space-evenly;
  margin: 20px auto;
  margin-right: 15px; }

.container {
  margin-top: 300px;
  width: 600px;
  padding: 0;
  position: relative;
  bottom: 130px; }

img {
  height: 600px;
  margin: 0 auto;
  padding-bottom: 100px;
  background-color: white; }

#how {
  display: flex;
  padding: 3px 7px;
  border-radius: 5px;
  margin-left: 20px; }

#createId {
  display: flex; }

.explain {
  width: fit-content;
  height: fit-content;
  position: absolute;
  display: none; }

.test button {
  border: none;
  position: absolute;
  top: -30px;
  right: -30px;
  color: pink;
  font-size: 20px; }

.test {
  width: fit-content;
  height: fit-content;
  position: absolute; }

.container {
  margin-top: 300px;
  width: 600px;
  padding: 0;
  position: relative; }

.f-group {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.col-m-7 {
  margin-left: 75px; }

.col-m-2 {
  padding: 5px;
  margin-left: 125px; }

.createAcc {
  display: flex;
  justify-content: right; }

.noAcc {
  display: flex;
  justify-content: baseline;
  align-content: space-between;
  padding-top: 20px; }

#submit {
  width: 80px;
  height: 35px;
  margin-left: 115px;
  margin-bottom: 20px; }

#linksGenerated {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 30px;
  margin-left: 5px; }

.account-message {
  display: flex;
  justify-content: flex-start;
  padding-top: 5px; }

#LOG {
  padding-right: 15px; }

/*# sourceMappingURL=style.css.map */