body {
  padding: none;
  font: 14px "Poppins", Helvetica, Arial, sans-serif;
  color: gray;
  height: 877px;
  // display: flex;
  width: 100%;
  // position: fixed;
  // bottom: 60px;
}

h1 {
  padding-left: 20px;
  padding-top: 20px;
  display: flex;
}

header {
  // background-color: peachpuff;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.7);
}

.nav {
  // display: flex;
  justify-content: space-evenly;
  // display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  position: fixed;
  padding-right: 20px;
  right: 0;
}

.nav-item {
  justify-content: flex-end;
}

// .nav {
//   display: flex;
//   flex-wrap: wrap;
//   padding-left: 0;
//   margin-bottom: 0;
//   list-style: none;
// }

// border-top: 0.2px solid lightgray;
// display: flex;
// justify-content: flex-end;
// // background-color: lightgrey;
// width: 100%;
// position: fixed;
// bottom: 0;

a {
  margin: 0 10px;
  text-decoration: none;
  color: gray;
}

// #form {
//   margin: 30px auto;
//   width: 380px;
// }

// #form label {
//   color: #666;
//   display: inline-block;
//   margin-bottom: 10px;
//   text-align: center;
//   width: 100%;
// }

// #form input,
// #form button {
//   box-sizing: border-box;
//   font-size: 14px;
//   outline: 0;
//   padding: 4px;
//   width: 100%;
//   margin-bottom: 20px;
// }

// #form button {
//   background: #43a3e6;
//   border: 1px solid #43a3e6;
//   border-radius: 4px;
//   color: #fff;
//   cursor: pointer;
//   display: inline-block;
//   font-size: 14px;
//   padding: 8px 16px;
//   text-decoration: none;
//   text-transform: uppercase;
//   transition: 0.3s ease background;
//   width: 100%;
// }

// #form button:hover {
//   background: #fff;
//   color: #43a3e6;
//   transition: 0.3s ease background;
// }

.picture {
  display: flex;
  // width: 800px;
  align-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.square {
  height: 100px;
  width: 100px;

  // display: inline;
}

ul li a {
  color: grey;
  text-decoration: none;
  padding: 10px;
  // background-color: lightgray;
  border: none;
  border-radius: 5px;
}

.main-content {
  width: 1120px;
  height: fit-content;
  margin: 270px auto;
  display: flex;

  justify-content: center;
  // background-color: lightgrey;
}

footer {
  border-top: 0.2px solid lightgray;
  display: flex;
  justify-content: flex-end;
  // background-color: lightgrey;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer {
  display: flex;
  height: 60px;
  padding-top: 20px;
}

h2 {
  margin: 0 auto;
}

footer a {
  margin: 0 30px;
  margin-bottom: 10px;
}

input {
  margin-left: 20px;
  border-radius: 5px;
  padding: 7px;
}

.form-container {
  display: flex;
  flex-direction: wrap;
}

.username {
  // display: flex;
  margin: 20px auto;
  // line-height: 50px;
}

/* WebKit browsers */
input:focus::-webkit-input-placeholder {
  color: transparent;
}

/* Mozilla Firefox 4 to 18 */
input:focus:-moz-placeholder {
  color: transparent;
}

/* Mozilla Firefox 19+ */
input:focus::-moz-placeholder {
  color: transparent;
}

/* Internet Explorer 10+ */
input:focus:-ms-input-placeholder {
  color: transparent;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

a:hover {
  color: peachpuff;
  font-size: 14px;
  font-weight: bold;
}

button {
  padding: 3px 7px;
  border-radius: 5px;
  margin-left: 20px;
}

// .current-link {
//   color: #baada7;
// }

img {
  height: 600px;
  margin: 0 auto;
  padding-bottom: 100px;
  background-color: white;
}

.form {
  position: relative;
}

.explain {
  width: fit-content;
  height: fit-content;
  position: absolute;
  display: none;
}

#how {
  padding: 3px 7px;
  border-radius: 5px;
  margin-left: 20px;
}

.test button {
  border: none;
  position: absolute;
  top: -30px;
  right: -30px;
  color: pink;
  font-size: 20px;
}

.test {
  width: fit-content;
  height: fit-content;
  position: absolute;
}

// .transparent {
//   background-color: rgba(103, 103, 103, 0.7);
//   width: 1000px;
//   height: 1000px;
// }
