body {
  padding: none;
  font: 14px "Poppins", Helvetica, Arial, sans-serif;
  color: gray;
  height: 877px;
  // display: flex;
  width: 100%;
  // position: fixed;
  // bottom: 60px;
}

h1 {
  padding-left: 60px;
  padding-top: 40px;
  display: flex;
  font-family: "Permanent Marker", cursive;
}

header {
  // background-color: peachpuff;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.7);
}

.nav {
  // display: flex;
  justify-content: space-evenly;
  // display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  position: fixed;
  padding-right: 20px;
  right: 0;
}

.nav-item {
  justify-content: flex-end;
}

// .nav {
//   display: flex;
//   flex-wrap: wrap;
//   padding-left: 0;
//   margin-bottom: 0;
//   list-style: none;
// }

// border-top: 0.2px solid lightgray;
// display: flex;
// justify-content: flex-end;
// // background-color: lightgrey;
// width: 100%;
// position: fixed;
// bottom: 0;

a {
  margin: 0 10px;
  text-decoration: none;
  color: gray;
}

.picture {
  display: flex;
  // width: 800px;
  // align-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 5px;
}

.square {
  height: 100px;
  width: 100px;
}

ul li a {
  color: grey;
  text-decoration: none;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

ul li a:hover {
  text-decoration: underline;
}

.main-content {
  position: relative;
//   width: 1120px;
//   height: fit-content;
//   margin: 270px auto;
//   display: flex;

//   justify-content: center;
//   // background-color: lightgrey;
}

footer {
  border-top: 0.2px solid lightgray;
  display: flex;
  justify-content: flex-end;
  // background-color: lightgrey;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer {
  display: flex;
  height: 60px;
  padding-top: 20px;
}

h2 {
  margin: 0 auto;
  padding: 5px;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: "Permanent Marker", cursive;
}

footer a {
  margin: 0 30px;
  margin-bottom: 10px;
}

input {
  margin-left: 20px;
  border-radius: 5px;
  padding: 7px;
}

input:focus {
  background-color: peachpuff;
}

.form-container {
  display: flex;
  flex-direction: wrap;
}

.username {
  // display: flex;
  margin: 20px auto;
  // line-height: 50px;
}

/* WebKit browsers */
input:focus::-webkit-input-placeholder {
  color: transparent;
}

/* Mozilla Firefox 4 to 18 */
input:focus:-moz-placeholder {
  color: transparent;
}

/* Mozilla Firefox 19+ */
input:focus::-moz-placeholder {
  color: transparent;
}

/* Internet Explorer 10+ */
input:focus:-ms-input-placeholder {
  color: transparent;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

a:hover {
  text-decoration: underline;
  color: peachpuff;
  font-size: 14px;
  font-weight: bold;
}

button {
  padding: 1px 5px;
  border-radius: 5px;
  margin-left: 20px;
  color: grey;
  border: solid grey 0.5;
}

button:hover {
  background-color: peachpuff;
  color: white;
}

img {
  height: 600px;
  margin: 0 auto;
  padding-bottom: 100px;
  background-color: white;
}

.form {
  position: relative;
}

.explain {
  width: fit-content;
  height: fit-content;
  position: absolute;
  display: none;
}

#how {
  padding: 3px 7px;
  border-radius: 5px;
  margin-left: 20px;
}

.test button {
  border: none;
  position: absolute;
  top: -30px;
  right: -30px;
  color: pink;
  font-size: 20px;
}

.test {
  width: fit-content;
  height: fit-content;
  position: absolute;
}

// .transparent {
//   background-color: rgba(103, 103, 103, 0.7);
//   width: 1000px;
//   height: 1000px;
// }

.container {
  // background-color: papayawhip;
  margin-top: 300px;
  width: 600px;
  padding: 0;
  position: relative;
}



.f-group {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#user {
  margin-right: 17px;
  margin-top: 6px;
}

#pw {
  margin-right: 20px;
  margin-top: 6px;
}

#mail {
  margin-right: 50px;
  margin-top: 6px;
}

#createAcc {
  display: flex;
  justify-content: center;
  margin-left: 24%;
  margin-top: 5px;
  font-size: 14px;
}

#LogIn {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

#square{
  margin: 4px;
  width: 50px;;
  height: 50px;;
}

#linksGenerated {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 30px;
   
  // width;
  // align-content: space-between;
  margin-left: 5px;  // align-content: space-around;
}

#goBack {
  display: flex;
  width: 82px;
  position: relative;
  // margin-right: 230px;
  // width: 90px;
}

#saveArt {
  display: flex;
  justify-content: flex-end;
  // position: fixed;
  // right: 0;
  margin-left: 460px;
}

// #saveArt:hover {
//   text-decoration: underline;
//   color: peachpuff;
//   font-size: 14px;
//   font-weight: bold;
// }