<p>Welcome Home. </p>

<br>
<a href="./myArt">See your generated Art</a>
<br>
<br>


<a href="/about">About.</a>
<br>
<br>
<form action="/dashboard" method="POST" id="form-container">
  <label for="Playlist-ID">Enter your Playlist-ID</label>
  <input id="Playlist-ID" type="text" name="Playlist-ID" placeholder="playlist-id">
  <button>Create Art</button>
</form>