<p>Your playlist as Art</p>

{{colors}}

<div class="picture">
  <div class="square" style="background-color: hsl(60, 100%, 42%)"></div>
  <div class="square" style="background-color: hsl(210, 100%, 50%)"></div>
</div>


<canvas id="myCanvas" width="600" height="600" color="black"></canvas>