<p>Your playlist as Art</p>



<div class="picture">

  {{#each colors}}
  <div class="square" style="background-color: {{this}}"></div>

  {{/each}}

</div>

<br>
<br>

<a href="/dashboard">Go Back!</a>

<a href="/myArt">Save!</a>