<header>


  <a>n-Colors</a>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" href="#">Generate Art</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">My Art</a>
    </li>
  </ul>


</header>


<p>list of myArt</p>